*{
    font-family: 'Fira Code', monospace;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #ABB2BF;
  
}
html {
    scroll-behavior: smooth;
    // overflow-x: hidden;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
.w-full{
    position: relative;
    padding: 0;
    margin: 0;
    height: max-content;
    width: 100%;
    max-width: 100%;
    background-color: #272727;
}

.w-container{
    width: 100%;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-fixed{
    position: fixed;
    z-index: 999;
    background-color: #fff;
    left:0;
    right: 0;
    top:0;
    box-shadow: 0 7px 16px 0 rgba(35, 29, 29, 0.1);
    animation: hiddenDisplay 0.8s;
}
.header-menu{
    position: relative;
    display: flex;
    flex-wrap: wrap;

    li{
        list-style: none;
        padding: 0 calc(16/1024*100vw);
        a{
            padding: 20px 10px;
            color: #ABB2BF;
            display: flex;
            text-decoration: none;
            align-items: center;
            span{
                color: #C778DD;
            }
        }:active{
            color: #fff;
        }:hover{
            color: #ddd;
            transform: scaleX(1.3);
            transition: 3s all;
        }
    }
}
.header-logo{
    display: flex;
    align-items: center;
    position: relative;
    left: 40px;
    width: 24px;
    height: 24px;
    div{
        color: #fff;
        margin-left: 12px;

    }:hover{
        animation: colorEffect 4s ease infinite;
    }
    img{
        width: 24px;
        height: 24px;
    }
}
.header-logo:hover{
    transform: scaleX(1.2);
    transition: 3s all;
    cursor: pointer;
    
}
.home{
    width: 100%;
}
.home-wrapper{
    
    justify-content: space-around;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.home-left{
    width: 50%;
    position: relative;
    left:50px;
    h5,p{
        width: 80%;
        span{
            color: #c3559e;
        }
    }
    button{
        margin-top: 20px;
        padding: 5px 10px;
       background-color: #272727;
       border: 5px double #c3559e;
       font-weight: 500;
       text-transform: uppercase;
       cursor: pointer;
       transition-duration: 1s;
       &:hover{
        background-color: #fff;
        color: #272727;
        transform: scaleX(1.1);
       }
    }
}
.trick{
    text-overflow: ellipsis;
    text-align: center;
    position: absolute;
    background-color: #272727;
    border: 1px solid #c3559e;
    width: calc(408/1024*100vw);
    height: 35px;
    top: calc(325/1024*100vw);
}
.home-image{width: 50%;position: relative;}
.home-image img{
    width: 80%;
    
}
.about{
    width: 100%;
    background-color: #fff;
}
.about-head{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.about-head-t{
    width: 70%;
    position: relative;
    left: 50px;
    p{
        width: 80%;
    }
}
.about-head-t:hover{
    transform: scaleY(1.1);
    transition: 3s all;
}
.about-image{
    width: 30%;
    img{
        width: calc(230/1024*100vw);
    }:hover{
        transform: scaleY(1.1);
        transition: 3s all;
    }
}
.contact{
width: 100%;
display: flex;
border-radius: 8px;
background-color: #fff;
}
.contact-info{
    width: 50%;
    h2{
        margin-top: 50px;
        text-align: center;
        color: #272727;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
    }
    img{
        left:calc( 50% - 100px );
        top:20%;
        position: relative;
        width: 200px;
        height: 200px;
        object-fit: cover;
        border: 5px solid #111;
        border-radius: 100%;
    }
}
.btn-submit{
    padding: 5px 20px;
    color: #272727;
    border: 5px double #cc1165;
    position: relative;
    left: 43%;
    cursor: pointer;
    &:hover{
        background-color: #fff;
        transform: scaleX(1.1);
        transition-duration: 2s;
        font-weight: 600;
    }
}
.contact-form{
    padding: 50px;
    width: 50%;
}
.form-item-input{
    margin-top: 20px;
    position: relative;
    border-radius: 8px;
    width: 100%;
    padding: 5px 10px;
    border: 2px solid #272727 ;
    opacity: 0.7;
    &:focus{
        opacity: 1;
    }
}
.skill{
    position: relative;
    left:50px;
}
.skill-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.skill-item{
    margin-left:10px ;
    margin-bottom: 10px;
    padding: 0 10px;
    border: 1px solid #ddd;
    width: max-content;
    h5,p{
        margin: 0;
    }
}
.work{
    width: 100%;
    height: 100vh;
    background-color: #272727;
}
.footer{

}
.footer-head{
    position: relative;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div{
        
        p,h3,div{
            padding: 0;
            color: #fff;
        }
        .icon svg{
            padding: 0 5px;
        }
        .icon svg:hover{
            color: #ddd;
            cursor: pointer;
            transform: scale(1.1);
            transition: 1s all;
        }
    }
}
@media screen and (max-width: 896px) {
    .header-menu{
        display: none;
    }
    .footer-head{
        display: block;
    }
    .about-head{

        display: block;
    }
    .home-wrapper{
        display: block;
    }
    .home-left{
        width: 100%;  
    }
    .home-image{
        width: 100%;
        position: relative;
    }
    .trick{
        display: none;
    }
    .contact{
        padding-top: 20px;
        padding-bottom: 20px;
        display: block;
    }
    .contact-info{
        width: 100%;
        img{top:20px}
        
    }
    .contact-form{

        margin: 0;
        margin-top: 20px;
        padding: 0;
        width: 100%;
        .form-item-input{
            width: calc(100% - 60px);
        }
        
    }
  }
  @keyframes colorEffect{
      0%  {
        color: #ddd;
      }
      50% {
        color: #c3559e;
      }
      100% {
        color: #cc1165;
      }
  }
  @keyframes hiddenDisplay {
    from{
        height: 0;
    }
    to{
        height: 120px;
    }
  }